
[submodule "LoRaMac-node"]
	path = LoRaMac-node
	url = https://github.com/Lora-net/LoRaMac-node.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
